*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
kbd{
    border:1px solid red;
    width:65px;
    height:65px;
    display: inline-block;
    margin-right:20px;
    position: relative;
    text-transform: uppercase;
}
kbd > button{
    position:absolute;
    right:0;
    bottom: 0;
    display: none;
}
kbd:hover >button{
    display: inline-block;
}
main > div > div:nth-child(2){
    margin-left:0.25em;
}
main > div > div:nth-child(3){
    margin-left: 1.25em;
}
main>div{
    display: inline-block;
}
main{
    text-align: center;
}