*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
/*kbd{
    width:65px;
    height:65px;
    display: inline-block;
    margin-right:20px;
    position: relative;
    text-transform: uppercase;
    background: -webkit-linear-gradient(top, #f1f1f1 1%,#ffffff 45%,#f0f0f0 94%,#dddddd 95%,#dddddd 100%);
    border-radius: 6px;
}*/
kbd > button{
     position:absolute;
     right:0;
     bottom: 0;
     display: none;
     border-radius: 2px;
     background-color:#F4F4F4;
     font-family: Helvetical;
     font-size: 3px;
}
kbd > button:hover{
    background-color:orange;
}
kbd:hover >button{
    display: inline-block;
}
main > div > div:nth-child(2){
    margin-left:0.25em;
}
main > div > div:nth-child(3){
    margin-left: 1.25em;
}
main>div{
    display: inline-block;
}
main{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main > .wrapper{
    background: rgba(225,225,225,0.2);
    border-radius: 12px;
}
body{
    background:gainsboro url(../images/wall.jpg) no-repeat center  center;
background-size: cover;
}
.key{
         width:80px;
         height:60px;
         display: inline-block;
         text-transform: uppercase;
         position: relative;
         background: linear-gradient(to bottom, #292929 1%,#111111 100%); 
         color:#C5C5C5;
         border-radius: 7px; 
         box-shadow: 0 0 0 1px #1A1B1C,0 0 0 2px #1F2020,0 3px 0 2px #080808; 
        /* display:inline-flex;
         align-items: center;
         justify-content: center;*/
         border:1px solid #373737;
         font-family:Helvetica;
         font-size: 23px;
         position: relative;
        
}
main > .wrapper >.row{
    margin:16px;

}
.row >.key{
    margin:0 6px;
}
main >.wrapper> div:nth-child(2){
    margin-left: -50px;
}
main >.wrapper> div:nth-child(3){
    margin-left: -140px;
}
img{
    width:15px;
    height:15px;
    position: absolute;
    left:2px;
    bottom:3px;
}
kbd > .text{
    position: absolute;
    left:30px;
    top:10px;
}